.env
/build
/node_modules
package-lock.json
current
source
.deploys
.DS_Store
.terraform
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.backup
connection.txt
/src/data_pipeline/logs/*.json
/src/data_pipeline/tmp_data/*.csv
