version: "2"
services:
  api:
    build:
      context: ./
      dockerfile: ./docker/APIDockerfile
    environment:
      - NODE_ENV=development
      - API_PORT=5000
      - API_AUTH_ROUTE=auth
      - API_INTERNAL_ROUTE=internal
      - API_PUBLIC_ROUTE=public
      - DB_USERNAME='testing'
      - DB_PASSWORD='testing'
      - DB_NAME=coronavirus
      - DB_HOST=db
      - JWT_SECRET=GetTestedCOVID19
    links:
      - db
    ports:
      - "5000:5000"
  db:
    image: postgres
    environment:
      POSTGRES_USER: testing
      POSTGRES_PASSWORD: testing
      POSTGRES_DB: coronavirus
