.cardlist-item-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    padding-top: 10px;
}

.cardlist-item-icon {
    width: 20%;
    text-align: left;
}

.cardlist-item-title {
    width: 80%;
    text-align: left;
}

.cardlist-item-yes-no {
    width: 40%;
    text-align: left;
}

.cardlist-item-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .cardlist-item-container {
        margin-bottom: 2em;
    }

    .cardlist-item-grid {
        display: block;
    }
}
